<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
                <div uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="5000">{{alert.message}}</div>
                <hr/>
                <formly-form model="vm.profile" fields="vm.profileFields" form="vm.profileForm">
                    <button type="submit" ng-click="vm.update()" class="btn btn-primary" ng-disabled="vm.profileForm.$invalid">Update
                    </button>
                </formly-form>
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">My Score(s)</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Section</th>
                            <th>Difficulty Level</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="score in vm.scores">
                            <td>{{score.section_details.course_details.course_title}}</td>
                            <td>{{score.section_details.section_title}}</td>
                            <td ng-bind="vm.getDifficultyLevel(score._id.difficulty_level)"></td>
                            <td>{{score.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>